/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    font-size: 22px;
    font-weight: bolder;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
}
.container{
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 0 20px;
}
.footer-a{
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 503px;
	position: relative;
}
@media(max-width:767px){
	.footer-a{
		height: 461px;
	}
}
.footer-b{
	background: #F5F5F5;
	text-align: center;
}
h3{
	font-size: 32px;
	font-weight: bold;
}
h5{
	color:#56C4C5;
	font-size: 16px;
	font-weight: bold;
	margin: 16px;
}
.card-item{
	width: 1088px;
	margin: 0 auto;
	text-align: center;
	
}
.card-list{
	display: flex;
	justify-content: space-around;
	margin-right: -8px;
	margin-left: -8px;
}
.card p{
	margin: 16px;
	font-size: 16px;
	width: 228px;
	border: 1px solid #000 ;
}

.card{
	width: 260px;
	height: 388px;	
	text-align: center;
 	box-shadow: 0px 2px 10px #00000014;
 	border-radius: 12px;
	opacity: 1;
	border: 1px solid #000;
}
@media(max-width:768px)
{
	.card-item{
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.card-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

	}

	.card p{
		font-size: 16px;
		/* width: 80%; */
		border: 1px solid #000 ;
		/* margin: 16px; */
		margin-bottom: 24px;
	}
	
}
@media(max-width:576px)
{
	.card-item{
		width: 50%;
		margin: 0 auto;
		text-align: center;
		
	}
	.card h3{
	
	}
	.card-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		
	}

	.card p{
		font-size: 16px;
		/* width: 80%; */
		border: 1px solid #000 ;
		margin: 16px;
		margin-bottom: 24px;
	}
}
.card img{
	border-radius: 12px 12px 0px 0px;
	max-width: 100%;
	height: 0 auto;
}
