/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    font-size: 22px;
    font-weight: bolder;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
}
img{
	width: 100%;
	height: 0 auto;
}
a{
	text-decoration: none;
}
sub{
	vertical-align: sub;
}
.container{
    max-width: 1088px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 0 20px;
	text-align: center;
}

h1{
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 16px;
}
h2{
	font-size: 18px;
	color: #56C4C5;
	font-weight: bold;
	margin-bottom: 8px;
}
h3{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 16px;
}
h4{
	font-size: 24px;
	font-weight: bold;
	margin-top: 24px;
}
h5{
	color:#56C4C5;
	font-size: 16px;
	font-weight: bold;
	margin: 16px;
}
h6{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 16px;
}
.header{
	display: flex;
	justify-content: space-between;
	height: 88px;
	align-items: center;
	max-width: 1088px;
	margin: auto;

}
.header img{
	width: 218px;
}
.header a{
	color: #FFFFFF;
	border-radius: 22px;
	background: #FF5D50;
	padding: 8px 32px 8px;
}
@media (max-width:576px){
	.header img{
		width: 130px;
	}
}
.topbg{
	text-align: left;
	display: flex;
}
.topbg p{
	color: #221E1F;
	opacity: 1;
}
.topbg img{
	width: 532px;
}
.title{
	margin: 0 auto;
}
@media (max-width:768px) {
	.topbg {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.wrap{
	margin-bottom: 100px;
}
.wrap h3{
	margin-bottom: 48px;
}
.logo-item{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.logo{
	max-width: 30%;	
}
.logo img{
	width: 90px;
}
.logo p{
	color: #747474;
	font-size: 16px;
	word-wrap:break-word;
	opacity: 1;
}
@media (max-width:576px) {
	.h3{
		margin-bottom: 32px;
	}
	.logo img{
		width: 60px;
	}
	.logo{
		max-width: 100%;
		margin-bottom: 24px;
	}
	.wrap{
		margin-bottom: 60px;
	}
}
.card-list{
	text-align: center;
	margin-bottom: 100px;
}
.card-list p{
	margin-bottom: 48px;
}
.card-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card{
	/* border: 1px solid  #000; */
	border-radius: 12px ;
	margin-bottom: 24px;
	width: 24%;
	box-shadow: 0px 2px 10px #00000014;
	opacity: 1;
}
.card p{
	margin: 16px;
	margin-bottom: 24px;
}
.card img{
	border-radius: 12px 12px 0px 0px;
}
@media (max-width:992px) {
	.card{
		border-radius: 12px ;
		margin-bottom: 24px;
		width: 49%;
	}
}
@media (max-width:576px) {
	.card-list p{
		margin-bottom: 32px;
	}
	.card{
		border-radius: 12px ;
		margin-bottom: 24px;
		width: 100%;
	}
}
.plan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}
.plan img{
	width: 52px;
	height: 52px;
	padding: 15px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border-radius: 50%;
	box-shadow: 0px 2px 10px #00000014;
	margin-bottom: 24px;
}
.plan-list {
	max-width: 47%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 28px;
}
@media (max-width:1088px) {
	.plan-list{
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.plan-card{
	padding: 32px 32px 48px 32px;
	text-align: left;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
}
.plan p{
	width: 165px;
	line-height:24px;
}
.plan-content {
	max-width: 53%; 
	padding: 0 50px 0 135px;
}
.plan-content h3{
	text-align: left;
	line-height:46px;
}
.plan-content p{
	text-align: left;
	font-size: 18px;
	margin-bottom: 36px;
	width: 400px;
	line-height:26px;
}
.plan-content a{
	font-size: 18px;
	color: #FFFFFF;
	background-color: #56C4C5;
	padding: 12px 32px 12px 32px;
	border-radius: 27px;
	border: 1px solid #56C4C5;
	text-align: left;
}

@media (max-width:767px) {
	.plan{
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		flex-direction: column-reverse;
	}
	.plan-list{
		max-width: 100%;
		margin-top: 32px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.plan-card{
		max-width: 215px;
	}
	.plan-content{
		max-width: 100%;
		text-align: center;
		padding: 0;
	}
	.plan-content h3{
		text-align: center;
	}
	.plan-content p{
		text-align: center;
		max-width: 375px;
	}
}
.review{
	margin-bottom: 134px;
}
.review-item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.review-card{
	width: 25%;
	padding: 48px 32px 24px;
	text-align: left;
	background: #ffffff;
	box-shadow: 0px 2px 10px #00000014;
	border-radius: 12px;
}
.review-card p{
	max-width: 288px;
	line-height: 24px;
}

.review-card img{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: -56px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.name{
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 8px;
}
@media (max-width:992px) {
	.review h3{
		margin-bottom: 88px;
	}
	.review-item{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 25px;
	}
	.review-card{
		width: 75%;
		padding: 48px 16px 16px;
		text-align: left;
		background: #ffffff ;
		box-shadow: 0px 2px 10px #00000014;
		border-radius: 12px;
	}
	.review-card p{
		max-width: 302px;
		white-space: break-word;
	}
}
@media (max-width:375px) {
	.review-card{
		width: 95%;
	}
}
.footer-a{
	background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 503px;
	position: relative;
}
@media(max-width:960px){
	.footer-a{
		height: 461px;
	}
}
.footer-b{
	background: #F5F5F5;
	text-align: center;
}